@model WebStore.Models.Order

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.id</dd>

        <dt class="col-sm-2">Address:</dt>
        <dd class="col-sm-10">@Model.address</dd>

        <dt class="col-sm-2">House:</dt>
        <dd class="col-sm-10">@Model.house</dd>

        <dt class="col-sm-2">Apartment:</dt>
        <dd class="col-sm-10">@Model.apartment</dd>

        <dt class="col-sm-2">Total Cost:</dt>
        <dd class="col-sm-10">@Model.totalCost</dd>

        <dt class="col-sm-2">Order Time:</dt>
        <dd class="col-sm-10">@Model.orderTime</dd>

        <dt class="col-sm-2">User ID:</dt>
        <dd class="col-sm-10">@Model.userid</dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>