@model List<WebStore.Models.Order>

<h2>Order List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>House</th>
        <th>Apartment</th>
        <th>Total Cost</th>
        <th>Order Time</th>
        <th>User ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Address</td>
            <td>@item.House</td>
            <td>@item.Apartment</td>
            <td>@item.TotalCost</td>
            <td>@item.OrderTime</td>
            <td>@item.UserId</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>