@model List<WebStore.Models.Order>

<h2>Order List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>House</th>
        <th>Apartment</th>
        <th>Total Cost</th>
        <th>Order Time</th>
        <th>User ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.address</td>
            <td>@item.house</td>
            <td>@item.apartment</td>
            <td>@item.totalCost</td>
            <td>@item.orderTime</td>
            <td>@item.userid</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>